mesop
python-dotenv
pydantic

langchain
langchain-bedrock
langchain-community


pymilvus[model]
duckdb

llama-index
llama-agents
llama-index-utils-workflow
llama-index-llms-cohere
cohere
traceloop-sdk